@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/BaseView.cshtml";
}

<h2>Login</h2>
<form method="post" action="#">
    Email: <input type="email" name="email" id="email" maxlength ="30" />
    <input type="submit" name="submit" />
</form>